<div class="row">
    <button class="btn btn-default col-md-4 showStartPage">Show Start page</button>
    <button class="btn btn-default col-md-4 showTestPage">Show Test Page</button>
    <button class="btn btn-default col-md-4 showResultPage">Show Result Page</button>
</div>
<br/>
<br/>
