<div class="row">
    <header>
        <div class="col-md-7">
            <h1>
                Интервью #3456
            </h1>
        </div>
        <div class="timer col-md-5">
            <span class="title">Осталось время:</span>
            <span class="time">00:00</span>
        </div>
    </header>
</div>
<br/>
<div class="topProblemNav row">
    <div class="col-md-2"><button class="btn btn-default col-md-12 problemNav first">First</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 problemNav prev">Previous</button></div>
    <div class="col-md-4"><button class="btn btn-default col-md-12 checkSolution">Check problem solution</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 problemNav next">Next</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 problemNav last">Last</button></div>
</div>
<hr/>

  <div class="problems"></div>

<hr/>
<div class="bottomProblemNav row">
    <div class="col-md-2"><button class="btn btn-default col-md-12 problemNav first">First</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 problemNav prev">Previous</button></div>
    <div class="col-md-4"><button class="btn btn-default col-md-12 checkSolution">Check problem solution</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 problemNav next">Next</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 problemNav last">Last</button></div>
</div>

