<h2>Task #{{number}}: {{taskName}}</h2>
<div class="descriptionBlock">
    <div class="title">Task description</div>
    <div class="text">{{taskDescription}}</div>
</div>

<div class="answerBlock">
    <div class="title">Answer</div>
    <div class="text">
        <textarea name="" id="" cols="30" rows="10">{{taskSolvetion}}</textarea>
    </div>
</div>

<button>Check task solution</button>
<div class="success notification"><a href="http://ain.ua/tag/peremoga">#перемога</a></div>
<div class="error notification"><a href="http://ain.ua/tag/zrada">#зрада</a></div>
