<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">Add/Edit Interviewee Solution</h3>
</div>

<div class="bbm-modal__section">
  <div class="form-group">
    <label for="interviewee_id">interviewee_id</label>
    <input type="text" class="form-control" id="interviewee_id" placeholder="Enter interviewee_id" value="<%= interviewee_id %>">
  </div>

  <div class="form-group">
    <label for="problem_id">problem_id</label>
    <input type="text" class="form-control" id="problem_id" placeholder="Enter problem_id" value="<%= problem_id %>">
  </div>

  <div class="form-group">
    <label for="testSuite_id">testSuite_id</label>
    <input type="text" class="form-control" id="testSuite_id" placeholder="Enter testSuite_id" value="<%= testSuite_id %>">
  </div>

  <div class="form-group">
    <label for="solution">Solution</label>
    <input type="text" class="form-control" id="solution" placeholder="Enter solution" value="<%= solution %>">
  </div>

  <div class="form-group">
    <label for="isSolved">isSolved</label>
    <input type="text" class="form-control" id="isSolved" placeholder="Enter isSolved" value="<%= isSolved %>">
  </div>
</div>

<div class="bbm-modal__bottombar">
  <a href="#" class="bbm-button bbm-cancel">close</a>
  <a href="#" class="bbm-button bbm-submit">save</a>
</div>
