
    <button class="taskNav prev">Сюдой</button>
    <button class="taskNav next">Тудой</button>
    <button class="showResults">Show results</button>
    <button class="checkSolution">Check task solution</button>
    <span class="timer"></span>
