<div class="row">
    <header>
        <div class="col-md-7">
            <h1>
                Интервью #3456
            </h1>
        </div>
        <div class="col-md-5">
            <span class="title">Осталось время</span>
            <span class="timer"></span>
        </div>
    </header>
</div>
<div class="row">
    <button class="taskNav prev">Сюдой</button>
    <button class="taskNav next">Тудой</button>
</div>
<hr/>

  <div class="tasks"></div>
<hr/>
  <button class="checkSolution">Check task solution</button>
