<div class="row">
    <header>
        <div class="col-md-7">
            <h1>
                Интервью #3456
            </h1>
        </div>
        <div class="col-md-5">
            <span class="title">Осталось время</span>
            <span class="timer"></span>
        </div>
    </header>
</div>
<div class="topTaskNav row">
    <div class="col-md-2"><button class="btn btn-default col-md-12 taskNav first">First</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 taskNav prev">Previous</button></div>
    <div class="col-md-4"><button class="btn btn-default col-md-12 checkSolution">Check task solution</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 taskNav next">Next</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 taskNav last">Last</button></div>
</div>
<hr/>

  <div class="tasks"></div>

<hr/>
<div class="bottomTaskNav row">
    <div class="col-md-2"><button class="btn btn-default col-md-12 taskNav first">First</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 taskNav prev">Previous</button></div>
    <div class="col-md-4"><button class="btn btn-default col-md-12 checkSolution">Check task solution</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 taskNav next">Next</button></div>
    <div class="col-md-2"><button class="btn btn-default col-md-12 taskNav last">Last</button></div>
</div>

