body {
  font: 500 14px/21px 'Helvetica Neue', Helvetica, Arials;
  padding: 20px;
}
/*Start Page*/
.startPage{

}

.enterForm {
  margin: 0 auto;
  width: 400px;
}

.greetings{

}

.picture{

}

/*/////////////////*/
.notification{
  display: none;
}

.notification.show{
  display: block;
}

.notification.success{
  color: #009926;
}

.notification.error{
  color: red;
}

.notification>a{
  color: white;
  font-size: 17px;
  font-weight: bold;
}

.task{
  display: none;
}

.task:first-of-type{
   display: block;
 }

.task:first-child{
   display: block;
}

.answerBlock.select .answers.has-success,
.answerBlock.multiSelect .answers.has-success{
  background-color:#D9EAD3;
}
.answerBlock.select .answers.has-error,
.answerBlock.multiSelect .answers.has-error{
  background-color:#F4CCCC;
}


/*Timer*/
.timer{
  margin-top: 29px;
  text-align: right;
  font-size: 18px;
}
