
<div class="enterForm">
    <div class="greetings">
        <h3>
            Hi interviewee!!! We glad to see you on this testsuite page, because this page was creating for you personal.
            You just do next tasks. Don't report us about your execution. When you want start the test, just click the button below.
            We wish you pass test.
        </h3>
    </div>
    <div class="picture">
        <!--<img src="../assets/img/57009656.jpg" alt=""/>-->
        <img src="../assets/img/63257658.jpg" alt=""/>
    </div>
    <br/>
    <div class="row">
        <button class="btn btn-lg btn-danger btn-block">Start the test</button>
    </div>
</div>

